.row{
    display: flex;
    justify-content: center;
}

.row img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border: solid black 8px;
}
h1{
    text-align: center;
}
.row button{
    padding: 2em;
    font-size: 20px;
    margin: 50px;
}
